  @import "~prosemirror-view/style/prosemirror.css";
  @import "~prosemirror-example-setup/style/style.css";
  @import "~prosemirror-gapcursor/style/gapcursor.css";
  @import "~prosemirror-menu/style/menu.css";
  
  @import "~jsoneditor/dist/jsoneditor.css";
  @import "~cropperjs/dist/cropper.css";
 
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities {
    @responsive {
      .screen-center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .w-min {
        width: min-content;
      }
      .h-min {
        height: min-content;
      }
      .w-max {
        width: min-content;
      }
      .h-max {
        height: min-content;
      }
    }
  }
  
  .button {
    @apply bg-gray-700 text-white p-1 m-1;
    &.disabled {
      @apply bg-white text-red-700 cursor-not-allowed pointer-events-none;
    }
    &:focus {
      @apply bg-green-500 outline-none;
    }
  }

  blockquote {
    @apply mx-3 my-2;
  }

  .cell-click {
    @apply bg-red-700 text-white;
  }
  .cell-click:hover {
    @apply bg-green-500 text-white;
  }

  .ProseMirror-focused {
    @apply outline-none;
  }

  .ProseMirror {
    ol > li {
      @apply list-decimal
    }
    ul > li {
      @apply list-disc
    }
  }