  @import "~prosemirror-view/style/prosemirror.css";
  @import "~prosemirror-example-setup/style/style.css";
  @import "~prosemirror-gapcursor/style/gapcursor.css";
  @import "~prosemirror-menu/style/menu.css";
  @import "~jsoneditor/dist/jsoneditor.css";
  @import "~cropperjs/dist/cropper.css";
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @layer utilities {
      @responsive {
          .screen-center {
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
          }
          .w-min {
              width: min-content;
          }
          .h-min {
              height: min-content;
          }
          .w-max {
              width: min-content;
          }
          .h-max {
              height: min-content;
          }
      }
  }
  
  blockquote {
      @apply mx-3 my-2;
  }
  
  .ProseMirror-focused {
      @apply outline-none;
  }
  
  .ProseMirror {
      @apply w-full p-2 max-h-full overflow-auto;
      height: 800px;
      ol>li {
          @apply list-decimal;
      }
      ul>li {
          @apply list-disc;
      }
  }
  
  .fas {
      font-weight: 200 !important;
  }
  
  body {
      @apply h-screen flex flex-col;
  }
  
  label {
      @apply shadow m-1 p-1 border border-solid rounded block;
  }
  
  [contenteditable="true"]:focus,
  input,
  textarea,
  select {
      @apply outline-none;
  }
  
  textarea {
      @apply block w-full;
  }
  
  output {
      @apply bg-gray-200 p-2 rounded;
  }
  
  th {
      @apply px-2 font-normal underline;
  }
  
  table>tbody>tr>td {
      @apply border-b border-solid;
  }